<!-- wp:template-part {"slug":"header-pg","tagName":"header","className":"site-header","theme":"sa-blocktheme-hd1"} /-->

<div class="curve-page">
    <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
    <main class="wp-block-group">
        <!-- wp:paragraph -->
        <p>As a new WordPress user, you should go to <a href="http://localhost:8888/wp-admin/">your dashboard</a> to delete this page and create new pages for your content. Have fun!</p>
        <!-- /wp:paragraph -->
    </main>
    <!-- /wp:group -->
</div>

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->